---
- name: Install Prometheus Node Exporter
  ansible.builtin.apt:
    name: prometheus-node-exporter
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Ensure Node Exporter is Running
  ansible.builtin.systemd:
    name: prometheus-node-exporter
    state: started
    enabled: true
