---
- name: Deploy configuration files
  delegate_to: localhost
  command: >
    bash -c "if [ -f '{{ playbook_dir }}/../homeassistant/{{ item }}' ]; then
    scp -P {{ ansible_port }} -o StrictHostKeyChecking=no
    '{{ playbook_dir }}/../homeassistant/{{ item }}'
    {{ ansible_user }}@{{ ansible_host }}:/config/;
    fi"
  with_items:
    - automations.yaml
    - scripts.yaml
    - scenes.yaml
    - configuration.yaml
    - groups.yaml
    - secrets.yaml
  ignore_errors: yes

- name: Sync configuration directories (Wipe & Replace)
  delegate_to: localhost
  shell: |
    # Define managed directories
    DIR="{{ item }}"
    LOCAL_PATH="{{ playbook_dir }}/../homeassistant/$DIR"
    
    # Always remove remote directory to ensure clean state (handle deletions)
    ssh -p {{ ansible_port }} -o StrictHostKeyChecking=no {{ ansible_user }}@{{ ansible_host }} "rm -rf /config/$DIR"
    
    # If local directory exists, copy it to remote
    if [ -d "$LOCAL_PATH" ]; then
      scp -P {{ ansible_port }} -o StrictHostKeyChecking=no -r "$LOCAL_PATH" {{ ansible_user }}@{{ ansible_host }}:/config/
    fi
  with_items:
    - automations
    - scripts
    - scenes
    - helpers
    - docs
  ignore_errors: yes


