---
- name: Validate YAML syntax for all files
  delegate_to: localhost
  command: "{{ playbook_dir }}/../homeassistant/venv/bin/python {{ role_path }}/files/validate_yaml_syntax.py {{ playbook_dir }}/../homeassistant"
  register: yaml_validate_result
  changed_when: false
  failed_when: yaml_validate_result.rc != 0

- name: Run local yamllint (style checks)
  delegate_to: localhost
  command: yamllint .
  args:
    chdir: "{{ playbook_dir }}/../homeassistant"
  register: lint_result
  changed_when: false
  failed_when: lint_result.rc != 0
  when: (yamllint_enabled | default(true) | bool)

- name: Check for remote configuration changes
  block:
    - name: Fetch remote configuration.yaml
      delegate_to: localhost
      shell: "scp -P {{ ansible_port }} -o StrictHostKeyChecking=no {{ ansible_user }}@{{ ansible_host }}:/config/configuration.yaml {{ playbook_dir }}/../remote_configuration.yaml.tmp"
      register: fetch_remote_config
      changed_when: false
      ignore_errors: yes

    - name: Run smart config comparison
      delegate_to: localhost
      command: "{{ playbook_dir }}/../homeassistant/venv/bin/python {{ role_path }}/files/check_config_diff.py {{ playbook_dir }}/../homeassistant/configuration.yaml {{ playbook_dir }}/../remote_configuration.yaml.tmp {{ playbook_dir }}/../homeassistant/secrets.yaml"
      register: config_diff_check
      changed_when: false
      failed_when: false

    - name: Fail if remote config has changed externally (and is not semantically equivalent)
      fail:
        msg: "Remote configuration.yaml differs from local version (even after secret expansion). Aborting to avoid overwriting external changes."
      when:
        - config_diff_check.rc != 0
        - not skip_config_check | default(false)

    - name: Cleanup temp file
      delegate_to: localhost
      file:
        path: "{{ playbook_dir }}/../remote_configuration.yaml.tmp"
        state: absent
      changed_when: false


