$TTL    604800
@       IN      SOA     dns.chi.lab.amd-e.com. admin.chi.lab.amd-e.com. (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      dns.chi.lab.amd-e.com.
@       IN      A       172.16.0.10  ; Private IP

; Name Servers
dns     IN      A       172.16.0.10

; Proxmox Nodes (LAN IPs)
pve01   IN      A       192.168.86.11
pve02   IN      A       192.168.86.12
pve03   IN      A       192.168.86.13

; Configure Tanium Cluster
ts-01   IN      A       172.16.0.51
ts-02   IN      A       172.16.0.52
tms-01  IN      A       172.16.0.53
tms-02  IN      A       172.16.0.54
tzs-01  IN      A       172.16.0.55
tzs-02  IN      A       172.16.0.56
ntp-01  IN      A       172.16.0.11

; Tanium VIP (Load Balancer)
tanium  IN      A       172.16.0.30

; Authentik (Private IP - requires route/Tailscale)
auth    IN      A       172.16.0.30 ; Load Balancer VIP
authentik IN    A       172.16.0.20 ; Container Direct IP
proxmox IN      A       172.16.0.30
whoami  IN      A       172.16.0.30

; Wildcard (Optional - helps with subdomains)
; Wildcard (Optional - helps with subdomains)
; *.chi.lab.amd-e.com. IN A 192.168.86.11 ; DISABLED: Causes collision with Tanium TDL search domain appending
