# Person Accounts
adam.durham@lab.amd-e.com   adam.durham@amd-e.com

# Group/Role Aliases
admin@lab.amd-e.com         adam.durham@amd-e.com
root@lab.amd-e.com          adam.durham@amd-e.com

# Catch-all (Optional fail-safe)
@lab.amd-e.com              adam.durham@amd-e.com
