#version=RHEL8
# Sustem lanquage
lang en_US.UTF-8
# Keyboard layouts
keyboard --xlayouts= 'us'
# System timezone
timezone America/New_York --utc
# Use text installer
text
# Reboot when done
reboot
# Use CDROM installation media
cdrom
# Network information
network --hostname=localhost --bootproto=dhcp --device=ens192 --onboot=yes --ipv6=auto --activate
# Configure Firewall
firewall --enabled --ssh
# Don't run the Setup Agent on first boot
firstboot --disable
# Configure SELinux
selinux --enforcing
# Don't configure X
skipx
# Disk partitioning information
ignoredisk --only-use=sda
clearpart --none --initlabel
bootloader  --location=boot --boot-drive=sda --append="rhgb quiet crashkernel=auto" --iscrypted --password=grub.pbkdf2.sha512.10000.6A10B89C371E2CC1EAE24B397A0E8FAB736826DF4EEEA32620E1387720C88E47B74C8FDD7D8AB241291724D2B57392887B050E1FEEAFEA0F71220815FE32996B.BB9957F4E42CE405C23AFFD96301A3680E801B8108F10EB38F73E12CF81099BC595CD3C4621F34F57D1312582C6A19B000FF126969CB0CC44EB461612C2C9276
part /boot/efi --fstype=efi --size=1024 --asprimary --ondisk=sda
part /boot --fstype=ext4 --size=1024 --asprimary --ondisk=sda
part swap --fstype="swap" --size=1024 --ondisk=sda
part pv.01 --grow --ondisk=sda
volgroup vg01 pv.01
logvol /home --fstype=ext4 --name=lv_home --vgname=vg01 --size=3072
logvol /tmp --fstype=ext4 --name=lv_tmp --vgname=vg01 --size=1024
logvol /var --fstype=ext4 --name=lv_var --vgname=vg01 --size=1024
logvol /var/log --fstype=ext4 --name=lv_var_log --vgname=vg01 --size=1024
logvol /var/log/audit --fstype=ext4 --name=lv_var_log_audit --vgname=vg01 --size=1024
logvol / --fstype=ext4 --name=lv_root --vgname=vg01 --grow --percent=100
# Install Packages
%packages
@^server-product-environment
aide
audit
fapolicyd
firewalld
opensc
openscap
openscap-scanner
openssh-server
openssl-pkcs11
policycoreutils
postfix
rng-tools
rsyslog
rsyslog-gnutls
scap-security-guide
tmux
usbguard
-abrt
-abrt-addon-ccpp
-abrt-addon-kerneloops
-abrt-cli
-abrt-plugin-sosreport
-iprutils
-krb5-server
-krb5-workstation
-libreport-plugin-logger
-libreport-plugin-rhtsupport
-python3-abrt-addon
-rsh-server
-sendmail
-telet-server
-tftp-server
-tuned
-usfted
-xorg-x11-server-Xorg
-xorq-x11-server-Xwayland
-xorq-x11-server-common
-xorg-x11-server-utils anaconda-ks.cfa
%end
# Lock the root account
rootpw --lock
# Setup Users
user --groups=wheel --name=admin --password=$2b$10$NE.aNRgmMaXpbqctQKBuZ.woyGstNbEwTE7X2z9kDZZSFGi1KUmsG --iscrypted --gecos="Admin"
sshkey --username=admin "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBIxmv9wttgzLEIKvNbzFUrl5wz+zLkyvNMWSl0S9arDfSkIOmVizIVC8sW1Lk97Vtj5NgAark3Hz3xRhlobuQHmeLxj7xLgal4J3+zieNSy566paX82TKuCRoQGCtUB+yexiLXfvaQ4pwAdK3YSwQ6KXrlY7qcOTYBd9ExOi2lCao/1p9+boVKA/T6/1SpkbMyU49QoN1/H66mR9jy+0i2svekjBt4lFNStnPepL6hbAOoBzCJUJ7Bc4dwVNZjqq2P8aY3QHYL+vSeFezDL6ENcsTTYfP+gnIFtswY0zQk2tJBzONOhfBBA/eTqAkQ0epESoNa0OFvu8mnQ3XQwH7"
user --groups=wheel --name=packer --password=$2b$10$uaVi.HRtdQWrLsF9rlZZAOdgbnu8YwpQcCP76hAjj9t/KDepknSQ6 --iscrypted --gecos="Packer"
sshkey --username=packer "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBIxmv9wttgzLEIKvNbzFUrl5wz+zLkyvNMWSl0S9arDfSkIOmVizIVC8sW1Lk97Vtj5NgAark3Hz3xRhlobuQHmeLxj7xLgal4J3+zieNSy566paX82TKuCRoQGCtUB+yexiLXfvaQ4pwAdK3YSwQ6KXrlY7qcOTYBd9ExOi2lCao/1p9+boVKA/T6/1SpkbMyU49QoN1/H66mR9jy+0i2svekjBt4lFNStnPepL6hbAOoBzCJUJ7Bc4dwVNZjqq2P8aY3QHYL+vSeFezDL6ENcsTTYfP+gnIFtswY0zQk2tJBzONOhfBBA/eTqAkQ0epESoNa0OFvu8mnQ3XQwH7"
# Set Password Policy
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
# Configure kdump kernel crash dumping mechanism
%addon com_redhat_kdump --disable --reserve-mb='auto'
%end
# Set Security Profile
%addon org_ fedora_oscap
    content-tupe = scap-security-quide
    datastream-id = scap_org.open-scap_datastream_from_xccdf_ssg-rhe18-xccdf-1.2.xml
    xccdf-id = scap_org.open-scap_cref_ssy-rhe18-xccdf-1.2.xml
    profile = xccdf_org.ssyproject.content_profile_stig
%end
# Temp setup nopasswd sudoers
%post
echo "packer ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/packer
%end