#version=RHEL8
reboot
text

# Install Packages
%packages
@^server-product-environment
aide
audit
fapolicyd
firewalld
opensc
openscap
openscap-scanner
openssh-server
openssl-pkcs11
policycoreutils
postfix
rng-tools
rsyslog
rsyslog-gnutls
scap-security-guide
tmux
usbguard
-abrt
-abrt-addon-ccpp
-abrt-addon-kerneloops
-abrt-cli
-abrt-plugin-sosreport
-iprutils
-krb5-server
-krb5-workstation
-libreport-plugin-logger
-libreport-plugin-rhtsupport
-python3-abrt-addon
-rsh-server
-sendmail
-telet-server
-tftp-server
-tuned
-usfted
-xorg-x11-server-Xorg
-xorq-x11-server-Xwayland
-xorq-x11-server-common
-xorg-x11-server-utils anaconda-ks.cfa
%end

# Keyboard layouts
keyboard --xlayouts= 'us'
# Sustem lanquage
lang en_US.UTF-8

# Network information
network --hostname=localhost.localdomain --bootproto=dhcp --device=ens192 --onboot=yes --ipv6=auto --activate

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

# Disk partitioning information
ignoredisk --only-use=sda
clearpart --none --initlabel
bootloader --append=" crashkernel=auto" --location=boot --boot-drive=sda
part /boot/efi --fstype=efi --size=1024 --asprimary --ondisk=sda
part /boot --fstype=ext4 --size=1024 --asprimary --ondisk=sda
part swap --fstype="swap" --size=1024 --ondisk=sda
part pv.01 --grow --ondisk=sda
volgroup vg01 pv.01
logvol /home --fstype=ext4 --name=lv_home --vgname=vg01 --size=3072
logvol /tmp --fstype=ext4 --name=lv_tmp --vgname=vg01 --size=1024
logvol /var --fstype=ext4 --name=lv_var --vgname=vg01 --size=1024
logvol /var/log --fstype=ext4 --name=lv_var_log --vgname=vg01 --size=1024
logvol /var/log/audit --fstype=ext4 --name=lv_var_log_audit --vgname=vg01 --size=1024
logvol / --fstype=ext4 --name=lv_root --vgname=vg01 --grow --percent=100

# System timezone
timezone America/New_York --utc

# Root password
rootpw --lock

# Setup Users
user --groups=wheel --name=admin --password=$2b$10$NE.aNRgmMaXpbqctQKBuZ.woyGstNbEwTE7X2z9kDZZSFGi1KUmsG --iscrypted --gecos="Admin"

# Set Password Policy
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%addon org_ fedora_oscap
    content-tupe = scap-security-quide
    datastream-id = scap_org.open-scap_datastream_from_xccdf_ssg-rhe18-xccdf-1.2.xml
    xccdf-id = scap_org.open-scap_cref_ssy-rhe18-xccdf-1.2.xml
    profile = xccdf_org.ssyproject.content_profile_stig
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

# Configure SELinux
selinux --enforcing

