#version=RHEL8
# Sustem lanquage
lang en_US.UTF-8
# Keyboard layouts
keyboard --xlayouts= 'us'
# System timezone
timezone America/New_York --utc
# Use text installer
text
# Reboot when done
reboot
# Use CDROM installation media
cdrom
# Network information
network --hostname=localhost --bootproto=dhcp --device=ens192 --onboot=yes --ipv6=auto --activate
# Configure Firewall
firewall --enabled --ssh
# Don't run the Setup Agent on first boot
firstboot --disable
# Configure SELinux
selinux --enforcing
# Don't configure X
skipx
# Disk partitioning information
ignoredisk --only-use=sda
clearpart --none --initlabel
bootloader  --location=boot --boot-drive=sda --append="rhgb quiet crashkernel=auto" --iscrypted --password=grub.pbkdf2.sha512.10000.6A10B89C371E2CC1EAE24B397A0E8FAB736826DF4EEEA32620E1387720C88E47B74C8FDD7D8AB241291724D2B57392887B050E1FEEAFEA0F71220815FE32996B.BB9957F4E42CE405C23AFFD96301A3680E801B8108F10EB38F73E12CF81099BC595CD3C4621F34F57D1312582C6A19B000FF126969CB0CC44EB461612C2C9276
part /boot/efi --fstype=efi --size=1024 --asprimary --ondisk=sda
part /boot --fstype=ext4 --size=1024 --asprimary --ondisk=sda
part swap --fstype="swap" --size=1024 --ondisk=sda
part pv.01 --grow --ondisk=sda
volgroup vg01 pv.01
logvol /home --fstype=ext4 --name=lv_home --vgname=vg01 --size=4096
logvol /tmp --fstype=ext4 --name=lv_tmp --vgname=vg01 --size=1024
logvol /var --fstype=ext4 --name=lv_var --vgname=vg01 --size=1024
logvol /var/log --fstype=ext4 --name=lv_var_log --vgname=vg01 --size=1024
logvol /var/log/audit --fstype=ext4 --name=lv_var_log_audit --vgname=vg01 --size=1024
logvol /var/tmp --fstype=ext4 --name=lv_var_tmp --vgname=vg01 --size=1024
logvol / --fstype=ext4 --name=lv_root --vgname=vg01 --grow --percent=100
# Install Packages
%packages
@^server-product-environment
aide
audit
fapolicyd
firewalld
opensc
openscap
openscap-scanner
openssh-server
openssl-pkcs11
policycoreutils
postfix
rng-tools
rsyslog
rsyslog-gnutls
scap-security-guide
tmux
usbguard
-abrt
-abrt-addon-ccpp
-abrt-addon-kerneloops
-abrt-cli
-abrt-plugin-sosreport
-iprutils
-krb5-server
-krb5-workstation
-libreport-plugin-logger
-libreport-plugin-rhtsupport
-python3-abrt-addon
-rsh-server
-sendmail
-telet-server
-tftp-server
-tuned
-usfted
-xorg-x11-server-Xorg
-xorq-x11-server-Xwayland
-xorq-x11-server-common
-xorg-x11-server-utils anaconda-ks.cfa
%end
# Set authselect policy
authselect select sssd
authselect enable-feature with-faillock
# Lock the root account
rootpw --lock
# Setup Users
user --groups=wheel --name=admin --password=$2b$10$NE.aNRgmMaXpbqctQKBuZ.woyGstNbEwTE7X2z9kDZZSFGi1KUmsG --iscrypted --gecos="Admin"
sshkey --username=admin "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBIxmv9wttgzLEIKvNbzFUrl5wz+zLkyvNMWSl0S9arDfSkIOmVizIVC8sW1Lk97Vtj5NgAark3Hz3xRhlobuQHmeLxj7xLgal4J3+zieNSy566paX82TKuCRoQGCtUB+yexiLXfvaQ4pwAdK3YSwQ6KXrlY7qcOTYBd9ExOi2lCao/1p9+boVKA/T6/1SpkbMyU49QoN1/H66mR9jy+0i2svekjBt4lFNStnPepL6hbAOoBzCJUJ7Bc4dwVNZjqq2P8aY3QHYL+vSeFezDL6ENcsTTYfP+gnIFtswY0zQk2tJBzONOhfBBA/eTqAkQ0epESoNa0OFvu8mnQ3XQwH7"
user --groups=wheel --name=packer --password=$2b$10$uaVi.HRtdQWrLsF9rlZZAOdgbnu8YwpQcCP76hAjj9t/KDepknSQ6 --iscrypted --gecos="Packer"
sshkey --username=packer "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBIxmv9wttgzLEIKvNbzFUrl5wz+zLkyvNMWSl0S9arDfSkIOmVizIVC8sW1Lk97Vtj5NgAark3Hz3xRhlobuQHmeLxj7xLgal4J3+zieNSy566paX82TKuCRoQGCtUB+yexiLXfvaQ4pwAdK3YSwQ6KXrlY7qcOTYBd9ExOi2lCao/1p9+boVKA/T6/1SpkbMyU49QoN1/H66mR9jy+0i2svekjBt4lFNStnPepL6hbAOoBzCJUJ7Bc4dwVNZjqq2P8aY3QHYL+vSeFezDL6ENcsTTYfP+gnIFtswY0zQk2tJBzONOhfBBA/eTqAkQ0epESoNa0OFvu8mnQ3XQwH7"
# Set Password Policy
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
# Configure kdump kernel crash dumping mechanism
%addon com_redhat_kdump --disable --reserve-mb='auto'
%end
# Set Security Profile
%addon org_ fedora_oscap
    content-tupe = scap-security-quide
    datastream-id = scap_org.open-scap_datastream_from_xccdf_ssg-rhe18-xccdf-1.2.xml
    xccdf-id = scap_org.open-scap_cref_ssy-rhe18-xccdf-1.2.xml
    profile = xccdf_org.ssyproject.content_profile_stig
%end
%post
# Enable FIPS mode
fips-mode-setup --enable
# Temp setup nopasswd sudoers
echo "packer ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/packer
# Ensure gpgcheck Enabled for Local Packages
echo "localpkg_gpgcheck=1" >> /etc/yum.conf
# Disable Ctrl-Alt-Del Burst Action
echo "CtrlAltDelBurstAction=none" >> /etc/systemd/system.conf
# Disable Ctrl-Alt-Del Reboot Activation
systemctl mask ctrl-alt-del.target
# Prevent Login to Accoutns with Empty Password
if grep -qP '^\s*auth\s+'"sufficient"'\s+pam_unix.so\s.*\bnullok\b' "/etc/pam.d/system-auth"; then
    sed -i -E --follow-symlinks 's/(.*auth.*'"sufficient"'.*pam_unix.so.*)\snullok=?[[:alnum:]]*(.*)/\1\2/g' "/etc/pam.d/system-auth"
fi
if grep -qP '^\s*password\s+'"sufficient"'\s+pam_unix.so\s.*\bnullok\b' "/etc/pam.d/system-auth"; then
    sed -i -E --follow-symlinks 's/(.*password.*'"sufficient"'.*pam_unix.so.*)\snullok=?[[:alnum:]]*(.*)/\1\2/g' "/etc/pam.d/system-auth"
fi
if grep -qP '^\s*auth\s+'"sufficient"'\s+pam_unix.so\s.*\bnullok\b' "/etc/pam.d/password-auth"; then
    sed -i -E --follow-symlinks 's/(.*auth.*'"sufficient"'.*pam_unix.so.*)\snullok=?[[:alnum:]]*(.*)/\1\2/g' "/etc/pam.d/password-auth"
fi
if grep -qP '^\s*password\s+'"sufficient"'\s+pam_unix.so\s.*\bnullok\b' "/etc/pam.d/password-auth"; then
    sed -i -E --follow-symlinks 's/(.*password.*'"sufficient"'.*pam_unix.so.*)\snullok=?[[:alnum:]]*(.*)/\1\2/g' "/etc/pam.d/password-auth"
fi
# Disable SSH Access via Empty Passwords
if grep -qP '^#PermitEmptyPasswords\sno$' "/etc/ssh/sshd_config"; then
    sed -i -E "s/^#(PermitEmptyPasswords\sno)$/\1/" /etc/ssh/sshd_config
fi
# Ensure sudo timestamp_timeout is appropriate
echo "timestamp_timeout=5" >> /etc/sudoers
# Ensure invoking users password for privilege escalation when using sudo
echo "Defaults !targetpw" >> /etc/sudoers
ecoh "Defaults !rootpw" >> /etc/sudoers
echo "Defaults !runaspw" >> /etc/sudoers
# Modify the System Login Banner
login_banner_text='^(You[\s\n]+are[\s\n]+accessing[\s\n]+a[\s\n]+U\.S\.[\s\n]+Government[\s\n]+\(USG\)[\s\n]+Information[\s\n]+System[\s\n]+\(IS\)[\s\n]+that[\s\n]+is[\s\n]+provided[\s\n]+for[\s\n]+USG\-authorized[\s\n]+use[\s\n]+only\.[\s\n]+By[\s\n]+using[\s\n]+this[\s\n]+IS[\s\n]+\(which[\s\n]+includes[\s\n]+any[\s\n]+device[\s\n]+attached[\s\n]+to[\s\n]+this[\s\n]+IS\)\,[\s\n]+you[\s\n]+consent[\s\n]+to[\s\n]+the[\s\n]+following[\s\n]+conditions\:(?:[\n]+|(?:\\n)+)\-The[\s\n]+USG[\s\n]+routinely[\s\n]+intercepts[\s\n]+and[\s\n]+monitors[\s\n]+communications[\s\n]+on[\s\n]+this[\s\n]+IS[\s\n]+for[\s\n]+purposes[\s\n]+including\,[\s\n]+but[\s\n]+not[\s\n]+limited[\s\n]+to\,[\s\n]+penetration[\s\n]+testing\,[\s\n]+COMSEC[\s\n]+monitoring\,[\s\n]+network[\s\n]+operations[\s\n]+and[\s\n]+defense\,[\s\n]+personnel[\s\n]+misconduct[\s\n]+\(PM\)\,[\s\n]+law[\s\n]+enforcement[\s\n]+\(LE\)\,[\s\n]+and[\s\n]+counterintelligence[\s\n]+\(CI\)[\s\n]+investigations\.(?:[\n]+|(?:\\n)+)\-At[\s\n]+any[\s\n]+time\,[\s\n]+the[\s\n]+USG[\s\n]+may[\s\n]+inspect[\s\n]+and[\s\n]+seize[\s\n]+data[\s\n]+stored[\s\n]+on[\s\n]+this[\s\n]+IS\.(?:[\n]+|(?:\\n)+)\-Communications[\s\n]+using\,[\s\n]+or[\s\n]+data[\s\n]+stored[\s\n]+on\,[\s\n]+this[\s\n]+IS[\s\n]+are[\s\n]+not[\s\n]+private\,[\s\n]+are[\s\n]+subject[\s\n]+to[\s\n]+routine[\s\n]+monitoring\,[\s\n]+interception\,[\s\n]+and[\s\n]+search\,[\s\n]+and[\s\n]+may[\s\n]+be[\s\n]+disclosed[\s\n]+or[\s\n]+used[\s\n]+for[\s\n]+any[\s\n]+USG\-authorized[\s\n]+purpose\.(?:[\n]+|(?:\\n)+)\-This[\s\n]+IS[\s\n]+includes[\s\n]+security[\s\n]+measures[\s\n]+\(e\.g\.\,[\s\n]+authentication[\s\n]+and[\s\n]+access[\s\n]+controls\)[\s\n]+to[\s\n]+protect[\s\n]+USG[\s\n]+interests\-\-not[\s\n]+for[\s\n]+your[\s\n]+personal[\s\n]+benefit[\s\n]+or[\s\n]+privacy\.(?:[\n]+|(?:\\n)+)\-Notwithstanding[\s\n]+the[\s\n]+above\,[\s\n]+using[\s\n]+this[\s\n]+IS[\s\n]+does[\s\n]+not[\s\n]+constitute[\s\n]+consent[\s\n]+to[\s\n]+PM\,[\s\n]+LE[\s\n]+or[\s\n]+CI[\s\n]+investigative[\s\n]+searching[\s\n]+or[\s\n]+monitoring[\s\n]+of[\s\n]+the[\s\n]+content[\s\n]+of[\s\n]+privileged[\s\n]+communications\,[\s\n]+or[\s\n]+work[\s\n]+product\,[\s\n]+related[\s\n]+to[\s\n]+personal[\s\n]+representation[\s\n]+or[\s\n]+services[\s\n]+by[\s\n]+attorneys\,[\s\n]+psychotherapists\,[\s\n]+or[\s\n]+clergy\,[\s\n]+and[\s\n]+their[\s\n]+assistants\.[\s\n]+Such[\s\n]+communications[\s\n]+and[\s\n]+work[\s\n]+product[\s\n]+are[\s\n]+private[\s\n]+and[\s\n]+confidential\.[\s\n]+See[\s\n]+User[\s\n]+Agreement[\s\n]+for[\s\n]+details\.|I've[\s\n]+read[\s\n]+\&[\s\n]+consent[\s\n]+to[\s\n]+terms[\s\n]+in[\s\n]+IS[\s\n]+user[\s\n]+agreem't\.)$'
login_banner_text=$(echo "$login_banner_text" | sed 's/^\^\(.*\)\$$/\1/g')
login_banner_text=$(echo "$login_banner_text" | sed 's/^(\(.*\.\)|.*)$/\1/g')
login_banner_text=$(echo "$login_banner_text" | sed 's/\[\\s\\n\]+/ /g')
login_banner_text=$(echo "$login_banner_text" | sed 's/(?:\[\\n\]+|(?:\\\\n)+)/\n/g')
login_banner_text=$(echo "$login_banner_text" | sed 's/\\//g')
formatted=$(echo "$login_banner_text" | fold -sw 80)
cat <<EOF >/etc/issue
$formatted
EOF
# Limit Password Reuse
# #password-auth
var_password_pam_remember='5'
var_password_pam_remember_control_flag='required'
PAM_FILE_PATH="/etc/pam.d/password-auth"
CURRENT_PROFILE=$(authselect current -r | awk '{ print $1 }')
if [[ ! $CURRENT_PROFILE == custom/* ]]; then
    ENABLED_FEATURES=$(authselect current | tail -n+3 | awk '{ print $2 }')
    authselect create-profile hardening -b $CURRENT_PROFILE
    CURRENT_PROFILE="custom/hardening"
    authselect apply-changes -b --backup=before-hardening-custom-profile
    authselect select $CURRENT_PROFILE
    for feature in $ENABLED_FEATURES; do
        authselect enable-feature $feature;
    done
    authselect apply-changes -b --backup=after-hardening-custom-profile
fi
PAM_FILE_NAME=$(basename "/etc/pam.d/password-auth")
PAM_FILE_PATH="/etc/authselect/$CURRENT_PROFILE/$PAM_FILE_NAME"
authselect apply-changes -b
# #system-auth
var_password_pam_remember='5'
var_password_pam_remember_control_flag='required'
PAM_FILE_PATH="/etc/pam.d/system-auth"
CURRENT_PROFILE=$(authselect current -r | awk '{ print $1 }')
if [[ ! $CURRENT_PROFILE == custom/* ]]; then
    ENABLED_FEATURES=$(authselect current | tail -n+3 | awk '{ print $2 }')
    authselect create-profile hardening -b $CURRENT_PROFILE
    CURRENT_PROFILE="custom/hardening"
    authselect apply-changes -b --backup=before-hardening-custom-profile
    authselect select $CURRENT_PROFILE
    for feature in $ENABLED_FEATURES; do
        authselect enable-feature $feature;
    done
    authselect apply-changes -b --backup=after-hardening-custom-profile
fi
PAM_FILE_NAME=$(basename "/etc/pam.d/system-auth")
PAM_FILE_PATH="/etc/authselect/$CURRENT_PROFILE/$PAM_FILE_NAME"
authselect apply-changes -b
%end