---
- name: Install dependencies
  ansible.builtin.apt:
    name:
      - socat
      - curl
      - git
    state: present
    update_cache: true

- name: Install acme.sh
  ansible.builtin.shell: >
    curl https://get.acme.sh | sh -s email=admin@lab.amd-e.com
  args:
    creates: /root/.acme.sh/acme.sh

- name: Register ACME Account (Let's Encrypt)
  ansible.builtin.shell: >
    /root/.acme.sh/acme.sh --register-account -m admin@lab.amd-e.com --server letsencrypt
  register: acme_reg
  changed_when: "'Account created' in acme_reg.stdout"
  failed_when: acme_reg.rc != 0 and "already registered" not in acme_reg.stdout and "Account already exists" not in acme_reg.stderr

- name: Issue Certificate (DNS-01)
  ansible.builtin.shell: >
    /root/.acme.sh/acme.sh --issue 
    --server letsencrypt
    --dns dns_desec 
    -d {{ acme_primary_domain }}
  environment:
    DEDYN_TOKEN: "{{ acme_token }}"
  register: acme_issue
  changed_when: "'Cert success' in acme_issue.stdout"
  failed_when: acme_issue.rc != 0 and "Domains not changed" not in acme_issue.stdout and "Skip" not in acme_issue.stdout

- name: Ensure SSL Directory Exists
  ansible.builtin.file:
    path: "{{ cert_install_dir }}"
    state: directory
    mode: '0755'

- name: Install Certificate
  ansible.builtin.shell: >
    /root/.acme.sh/acme.sh --install-cert -d {{ acme_primary_domain }}
    --key-file       {{ cert_install_key }}
    --fullchain-file {{ cert_install_fullchain }}
    --reloadcmd     "{{ acme_reload_cmd }}"
  when: acme_issue.changed or force_install | default(false)
