all:
  children:
    proxmox_nodes:
      hosts:
        pve-01:
          ansible_host: 192.168.86.11
        pve-02:
          ansible_host: 192.168.86.12
        pve-03:
          ansible_host: 192.168.86.13
      vars:
        ansible_user: root
        # Usage: ansible-playbook -i ansible/inventory/proxmox.yml ... --ask-pass
        # Or ensure SSH keys are deployed.

    # Containers
    loadbalancer:
      hosts:
        lb-01:
          ansible_host: 172.16.0.30
      vars:
        ansible_user: root
        ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
        
    authentik_server:
      hosts:
        authentik:
          ansible_host: 172.16.0.20
      vars:
        ansible_user: root
        ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

    mail_server:
      hosts:
        mail-01:
          ansible_host: 172.16.0.40
      vars:
        ansible_user: root
        ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
