# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
automation custom: !include_dir_merge_list automations/
script: !include scripts.yaml
script custom: !include_dir_merge_list scripts/
scene: !include scenes.yaml
scene custom: !include_dir_merge_list scenes/

timer:
  garage_lights_motion_timeout:
    name: "Garage Lights Motion Timeout"
    duration: "00:15:00"
