# Loads default set of integrations. Do not remove.
default_config:

# Prometheus Metrics
prometheus:

# Load frontend themes from the themes folder
logger:
  default: warning
  logs:
    homeassistant.components.automation: debug
    homeassistant.core: debug
    homeassistant.helpers.script: debug

frontend:
  themes: !include_dir_merge_named themes


# Packages for manual configuration
homeassistant:
  packages:
    manual_automations:
      automation: !include_dir_merge_list automations/

template: !include templates.yaml
sensor: !include sensors.yaml
automation: !include automations.yaml
script: !include scripts.yaml
script custom: !include_dir_merge_list scripts/
scene: !include scenes.yaml
scene custom: !include_dir_merge_list scenes/
input_datetime: !include input_datetime.yaml

timer:
  garage_lights_motion_timeout:
    name: "Garage Lights Motion Timeout"
    duration: "00:15:00"
