<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.adamdurham.siripreempt</string>
    <key>ProgramArguments</key>
    <array>
        <string>__HOME__/bin/siri_preempt</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/siri_preempt.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/siri_preempt.log</string>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
