:root {
  --ak-accent: #3b82f6;
  --pf-global--primary-color--100: #3b82f6;
  --pf-global--primary-color--200: #1e3a8a;
  --pf-global--primary-color--400: #1e3a8a;
  --pf-global--link--Color: #60a5fa;
  --pf-global--link--Color--hover: #93c5fd;
}
