---
- name: Deploy Authentik Container (LXC)
  hosts: proxmox_nodes[0] # Target primary node
  gather_facts: false
  roles:
    - authentik_host

- name: Configure Authentik Service
  hosts: authentik
  gather_facts: true
  pre_tasks:
    - name: Ensure credentials directory exists (delegate to localhost)
      ansible.builtin.file:
        path: credentials
        state: directory
        mode: '0700'
      delegate_to: localhost
      run_once: true

  roles:
    - authentik_service
