---
- name: Deploy Authentik Container (LXC)
  hosts: proxmox_nodes[0] # Target primary node
  gather_facts: false
  roles:
    - authentik_host

- name: Configure Authentik Service
  hosts: authentik
  gather_facts: true
  vars:
    authentik_pg_password: "{{ lookup('password', 'credentials/authentik_pg_pass chars=ascii_letters,digits length=20') }}"
    authentik_secret_key: "{{ lookup('password', 'credentials/authentik_secret_key chars=ascii_letters,digits length=50') }}"
    acme_dedyn_token: "{{ lookup('file', 'credentials/desec_token') | trim }}"
  pre_tasks:
    - name: Ensure credentials directory exists (delegate to localhost)
      ansible.builtin.file:
        path: credentials
        state: directory
      delegate_to: localhost
      run_once: true

  roles:
    - authentik_service
