---
- name: Deploy Load Balancer Host (LXC)
  hosts: loadbalancer
  gather_facts: false
  roles:
    - loadbalancer_host



- name: Configure Load Balancer Service (Nginx)
  hosts: loadbalancer
  gather_facts: false


  vars:
    acme_dedyn_token_proxmox: "{{ vault_desec_token_proxmox }}"
    noip_username: "{{ vault_noip_username }}"
    noip_password: "{{ vault_noip_password }}"
    noip_hostname: "chiamd-e.no-ip.biz"
  roles:
    - loadbalancer_service
