---
- name: Provision Monitoring Containers
  hosts: pve01
  gather_facts: false
  tasks:
    - name: Deploy VictoriaMetrics
      ansible.builtin.include_role:
        name: monitoring_host
      vars:
        net_private_ip: "{{ hostvars['vm-01']['net_private_ip'] }}"
        vmid: "{{ hostvars['vm-01']['vmid'] }}"
        inventory_hostname: "vm-01"
        template: "{{ hostvars['vm-01']['template'] }}"

    - name: Deploy Grafana
      ansible.builtin.include_role:
        name: monitoring_host
      vars:
        net_private_ip: "{{ hostvars['graf-01']['net_private_ip'] }}"
        vmid: "{{ hostvars['graf-01']['vmid'] }}"
        inventory_hostname: "graf-01"
        template: "{{ hostvars['graf-01']['template'] }}"

- name: Install Node Exporter (Agents)
  hosts: all:!victoriametrics:!grafana:!localhost:!tanium_cluster
  gather_facts: false
  roles:
    - common_monitoring

- name: Configure VictoriaMetrics
  hosts: victoriametrics
  gather_facts: false
  roles:
    - common_monitoring
    - role_victoriametrics

- name: Configure Grafana
  hosts: grafana
  gather_facts: false
  # Secrets loaded from group_vars/all.yml
  roles:
    - common_monitoring
    - role_grafana
