---
- name: Deploy DNS Container
  hosts: pve02
  gather_facts: false
  roles:
    - dns_host

- name: Deploy DNS Service (Bind9)
  hosts: dns_server
  gather_facts: false
  # Connection via SSH, relying on key authorization or password fallback
  vars:
    # ACME Configuration
    acme_primary_domain: "dns.chi.lab.amd-e.com"
    acme_token: "{{ vault_desec_token_proxmox }}"
    cert_install_dir: "/etc/bind/ssl"
    cert_install_key: "/etc/bind/ssl/key.pem"
    cert_install_fullchain: "/etc/bind/ssl/fullchain.pem"
    acme_reload_cmd: "systemctl reload named || true"
  roles:
    - acme_sh
    - dns_server
