---
- name: Provision Mail Container
  hosts: pve-01
  gather_facts: false
  roles:
    - mail_host

- name: Configure Mail Forwarding
  hosts: mail_server
  gather_facts: false
  vars:
    # ACME Configuration
    acme_primary_domain: "mail.chi.lab.amd-e.com"
    acme_token: "{{ vault_desec_token_proxmox }}"
    cert_install_dir: "/etc/postfix/ssl"
    cert_install_key: "/etc/postfix/ssl/key.pem"
    cert_install_fullchain: "/etc/postfix/ssl/fullchain.pem"
    acme_reload_cmd: "systemctl reload postfix"
  roles:
    - acme_sh
    - mail_forwarder
