---
- name: Deploy Authentik Container (LXC)
  hosts: proxmox_nodes[0] # Target primary node
  gather_facts: false
  roles:
    - authentik_host

- name: Configure Authentik Service
  hosts: authentik
  gather_facts: true
  pre_tasks: []

  roles:
    - authentik_service
