---
- name: Manage Authentik Resources
  hosts: localhost
  connection: local
  gather_facts: false
  module_defaults:
    ansible.builtin.uri:
      validate_certs: true
  vars:
    authentik_url: "https://auth.chi.lab.amd-e.com"
    api_token: "{{ authentik_api_token }}"
    headers:
      Authorization: "Bearer {{ api_token }}"
      Content-Type: "application/json"

    # Configuration
    provider_name: "Proxmox"
    app_name: "Proxmox"
    app_slug: "proxmox"
    group_admin_name: "Proxmox Admins"
    group_user_name: "Proxmox Users"
    user_email: "admin@lab.amd-e.com"
    user_username: "admin"
    user_name: "Proxmox Admin"
    proxmox_redirect_uris: |
      https://proxmox.chi.lab.amd-e.com
      https://pve01.chi.lab.amd-e.com:8006
      https://pve02.chi.lab.amd-e.com:8006
      https://pve03.chi.lab.amd-e.com:8006
      https://192.168.86.11:8006
      https://192.168.86.12:8006
      https://192.168.86.13:8006
      https://172.16.0.30

    # Tanium Configuration
    tanium_url: "https://tanium.chi.lab.amd-e.com"
    tanium_acs_url: "https://tanium.chi.lab.amd-e.com/saml2/auth/custom"
    tanium_issuer: "https://tanium-prod.chi.lab.amd-e.com:17472/sp"
    tanium_app_slug: "tanium"
    tanium_app_name: "Tanium"

  roles:
    - role: authentik_flow
      tags: [authentik_flow, flow]
    - role: authentik_user_group
      tags: [authentik_user_group, users, scim]
    - role: authentik_provider
      tags: [authentik_provider, providers]
