apiVersion: 1

datasources:
  - name: Home Assistant
    type: influxdb
    access: proxy
    url: http://a0d7b954-influxdb:8086
    database: homeassistant
    user: ${INFLUXDB_USERNAME:-homeassistant}
    secureJsonData:
      password: ${INFLUXDB_PASSWORD:-homeassistant}
    jsonData:
      httpMode: GET
