---
- name: Check if VM {{ vmid }} exists
  ansible.builtin.command: qm status {{ vmid }}
  delegate_to: pve-01
  register: tanium_host_vm_check
  failed_when: false
  changed_when: false

- name: Create VM {{ vmid }} ({{ inventory_hostname }})
  ansible.builtin.command: >
    qm create {{ vmid }}
    --name {{ inventory_hostname }}
    --memory {{ vm_memory }}
    --cores {{ vm_cores }}
    --net0 e1000,bridge={{ vm_bridge }}
    --bios ovmf
    --machine q35
    --scsihw virtio-scsi-pci
    --scsi0 {{ vm_storage }}:{{ vm_disk }},discard=on
    --efidisk0 {{ vm_storage }}:0
    --ide2 {{ vm_iso }},media=cdrom
    --ostype l26
    --serial0 socket
    --cpu x86-64-v2-AES
    --hotplug disk,network,usb
  delegate_to: pve-01
  when: tanium_host_vm_check.rc != 0


- name: Start VM {{ vmid }}
  ansible.builtin.command: qm start {{ vmid }}
  delegate_to: pve-01
  when:
    - tanium_host_vm_check.rc != 0 or "stopped" in tanium_host_vm_check.stdout

- name: Enable HA for VM {{ vmid }}
  ansible.builtin.command: >
    ha-manager add vm:{{ vmid }} --max_restart 1 --max_relocate 1 --state started
  delegate_to: pve-01
  args:
    creates: /etc/pve/ha/resources.cfg
  register: tanium_host_ha_add
  failed_when:
    - tanium_host_ha_add.rc != 0
    - "'already exists' not in tanium_host_ha_add.stderr"
    - "'already defined' not in tanium_host_ha_add.stderr"
  changed_when: tanium_host_ha_add.rc == 0
